   ███╗   ███╗ █████╗  ██████╗ ██╗
   ████╗ ████║██╔══██╗██╔════╝ ██║
   ██╔████╔██║███████║██║  ███╗██║
   ██║╚██╔╝██║██╔══██║██║   ██║██║
   ██║ ╚═╝ ██║██║  ██║╚██████╔╝██║
   ╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝

  ────────────────────────────────────────────────
__MAGI_NODES__
  ────────────────────────────────────────────────
  ⚠  AUTHORIZED PERSONNEL ONLY  ⚠   

